<nav>
  <a href="/">
    <img src="/assets/img/avatar.jpg" id="" class="img-rounded img-responsive" />
  </a>
  <div id="bio">
    <p>
      C#, .NET a Javascript vývojár, milovník každej tech. novinky, geek, ktorý by potreboval keby deň mal aspoň 48 hodín, autor
      <a href="http://nasevydavky.sk" target="_blank">nasevydavky.sk</a>,
      <a href="http://pouzite.sk" target="_blank">pouzite.sk</a>, a
      <a href="http://savilio.com" target="_blank">savilio.com</a>.
    </p>
  </div>
  <div id="social" class="text-center">
    {% include social.html %}
  </div>
  <br/>
  <div class="text-center">
    &copy; Michal Krchňavý, 2015
  </div>
</nav>