<nav>
  <a href="/">
    <img src="/assets/img/avatar.jpg" id="" class="img-rounded img-responsive" />
  </a>
  <div id="bio">
    <p>
      .NET a javascript vývojár, milovnik každej tech. novinky. geek, ktorý by potreboval keby deň mal aspoň 48 hodín, autor
      <a href="http://nasevydavky.sk">nasevydavky.sk</a>,
      <a href="http://pouzite.sk">pouzite.sk</a>, a
      <a href="http://savilio.com">savilio.com</a>.
    </p>
  </div>
  <div id="social">
    {% include social.html %}
  </div>
  &copy; Michal Krchňavý, 2015
</nav>