--- 
layout: blog 
---

<div class="row">
    <div class="col-md-offset-1 col-md-7 content content_post">
        <ul class="posts">
            <li>
                <div class="post_preheader">
                    <span>
                {{ page.date | date: "%B %-d, %Y" }} 
            </span>
                </div>

                <div class="post_header">
                    <b>{{ page.title }}</b>
                </div>

                <div id="post">
                    {{ content }}
                </div>
                
                {% if page.canshare %}
                <div class="postshare">
                    <h2>Páčil sa ti príspevok ?</h1>
                    {% include postshare.html %}
                </div>
                {% endif %}
                                
                {% if page.comments %}
                <div class="comments">
                    <h2>Komentáre</h2>
                    {% include comments.html %}
                </div>
                {% endif %}
            </li>
        </ul>
    </div>
    <div class="col-md-3 hidden-xs hidden-sm sidebar">
        {% include sidebar.html %}
    </div>    
</div>
<div class="row visible-xs">
    <div class="col-xs-12 sidebar">
        <h2>O autorovi:</h2>
        {% include sidebar.html %}
    </div>
</div>
