<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A Bootstrap Blog Template">
  <meta name="author" content="Michal Krchnavy">
  <title>{{ page.title }}</title>

  <!-- Google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700' rel='stylesheet' type='text/css'>
  <!-- Custom Bootstrap CSS file -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/blog.css" rel="stylesheet" />
</head>

<body>
  <!-- Header -->
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".header-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.krchnavy.sk">Michal Krchnavy</a>
      </div>

      <div class="collapse navbar-collapse header-collapse">
        <ul class="nav navbar-nav">
          <li><a href="http://zemacik.tumblr.com/">Blog (Tumblr.com)</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://www.savilio.com">Savilio.com - video link extractor</a></li>
              <li><a href="http://www.pouzite.sk">Použité.sk - bazaar online</a></li>
              <li><a href="http://www.nasevydavky.sk">Naševýdavky.sk - výdavky pod kontrolou</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Components<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/dev/components/edSingleSlider">Single slider jQuery UI Widget</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Utilities<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/dev/components/edScreenCapture">Screen capture tool</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usefull web tools<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="http://diakritika.brm.sk/">Doplnac diakritiky</a></li>
              <li><a href="http://head.wall.sk/odstranenie_diakritiky/">Odstránenie diakritiky</a></li>
              <li><a href="http://jsonprettyprint.com/">JSON Pretty Print</a></li>
              <li><a href="http://jsonformat.com/">JSON formatter 2</a></li>
              <li><a href="http://jsbeautifier.org/">Deobfuscate JavaScript</a></li>
              <li><a href="http://www.togglecase.com/convert_to_camelcase.php">CamelCase Generator</a></li>
              <li><a href="http://www.onlineocr.net/">Online OCR</a></li>
              <li><a href="http://meyerweb.com/eric/tools/dencoder/">URL Encoder / decoder</a></li>
              <li><a href="http://onlinecurl.com/">Online cUrl</a></li>
            </ul>
          </li>
        </ul>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>

  </header>

  <!-- Body -->
  <div class="container">
    {{ content }}
  </div><!-- /.container -->
  <!-- Footer -->
  <footer>
    <div class="container">
      <hr />
      <p class="text-center">Copyright &copy; Astrospace 2014. All rights reserved.</p>
    </div>
  </footer>

  <!-- Jquery and Bootstrap Script files -->
  <script src="vendor/jquery-2.0.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3681845-8']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>
</html>
